if SHIELD_VOIDERGO_LEFT

config ZMK_KEYBOARD_NAME
    default "VoidErgo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VOIDERGO_LEFT || SHIELD_VOIDERGO_RIGHT

config ZMK_SPLIT
    default y

endif